/* ======================ONE TIME SETUP=================== */
h1, h2, h3, nav, li, button {
  font-family: Vidaloka;
}

p, h4, h5 {
  font-family: Roboto;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  color: #EBEFF1;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 32px;
}

nav {
  font-size: 25px;
}

button {
  font-size: 18px;
}

body {
  margin: 0;
}

.logo {
  width: 75px;
}

ul {
  padding: 0;
}

/* ======================HEADER=================== */
header {
  background-image: url('assets/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 99.35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  width: 1400px;
  padding: 40px 0 250px 0;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 30px;
  color: #EBEFF1;
}

nav h1 {
  display: flex;
  align-items: center;#8D9BA0
  justify-content: center;
}

/* ======================ABOUT=================== */
.about {
  padding: 100px 250px;
  display: flex;
  justify-content: space-around;
}

.about-img {
  height: 600px;
  width: 560px;
  background-image: url('assets/image1.jpg');
  background-position: center;
  float: left;
}

.about-text {
  box-sizing: border-box;
  height: 600px;
  width: 660px;
  padding: 50px 50px;
}

.about-text p {
  margin: 30px 0 80px;
  line-height: 25px;
}

.about-text button {
  background-color: #D45121;
  border: none;
  color: #EBEFF1;
  padding: 14px 60px;
  text-align: center;
}

/* ======================DESTINATION=================== */
.dest {
  height: 600px;
  background-image: url('assets/image2.jpg');
  background-position: center;
  padding: auto auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEFF1;
}

.dest h2 {
  font-size: 100px;
  margin: 10px;
}

/* ======================LATEST=================== */
.latest {
  display: flex;
  flex-direction: column;
  margin: 50px 0 120px 0;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  height: 650px;
  width: 480px;
  display: flex;
  margin: 50px 20px 0 20px;
  flex-direction: column;
  justify-content: flex-end;
}

.card h3, h4 {
  margin: 0 0;
  padding: 15px 30px 10px 30px;
}

.card-text {
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.card-1 {
  background-image: url('assets/image3.jpg');
  background-position: bottom center;
  background-size: cover;
}

.card-2 {
  background-image: url('assets/image4.jpg');
  background-position: bottom center;
  background-size: cover;
}

.card-3 {
  background-image: url('assets/image5.jpg');
  background-position: bottom center;
  background-size: cover;
}

/* ======================FOOTER=================== */
footer {
  background-color: #0C1D24;
  padding: 40px 0;
  color: #8D9BA0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer li {
  display: inline-block;
  margin: 10px 20px;
}

footer hr {
  width: 80%;
}

/*  */
